body {
   padding: 5px;
   margin: 5px;
   font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.report-title {
   padding: 5px;
   margin: 5px;
   text-transform: uppercase;
   text-align: center;
}

.report {
   border-collapse: collapse;
   border: 1px solid black;
   width: 100%;
   td,
   th {
      border: 1px solid black;
   }
   .report__result {
      text-align: center;
   }
}

.report__heading--sugar-level,
.report__heading--insulin-dose {
   text-transform: uppercase;
   text-align: center;
}

.description {
   width: 100%;
   display: flex;
   justify-content: space-around;
   .description__name,
   .description__info {
      width: 100%;
      display: flex;
      justify-content: start;
   }
   .description__info--list {
      list-style-type: upper-roman;
   }
}

.admin-form-add-user,
.user-add-measurement,
.user-report {
   display: flex;
   flex-direction: column;
   width: 100px;
}

.wrapper-user-panel {
   display: flex;
   // width: 100px;
   justify-content: space-around;
}
